
<div>
<img class="img-fluid" data-aos="fade-right" data-aos-duration="1000" src="../../assets/img/grupo.png" alt="">
</div>
    <div class="container text-center" id="inicio">
        <div data-aos="fade-left" data-aos-duration="2100" class="row">
            <div class="col-4">
                <h4>BIENVENIDO A</h4> <br><img class="img-fluid" src="../../assets/img/logo.png" alt="">
            </div>
            <div class="col 8"  >
                <h5>Guadalajara, Jalisco</h5>
                <h5 id="verde">DÉ A SUS INVITADOS UNA RAZÓN PARA ASOMBRARSE</h5>
                <p>Desde lujosas bodas ambientadas con caminos llenos de flores de los lugares históricos de Guadalajara y sus alrededores, hasta elaborados eventos corporativos que fomentan las conexiones de la compañía, RAMPA IIII tiene el don de transformar las celebraciones significativas en experiencias inolvidables.</p>
            </div>
        </div>
    </div>